@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?3vipk7');
    src:  url('fonts/icomoon.eot?3vipk7#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?3vipk7') format('truetype'),
      url('fonts/icomoon.woff?3vipk7') format('woff'),
      url('fonts/icomoon.svg?3vipk7#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-menu:before {
    content: "\e9bd";
  }
  

body
{
font-family:'Source Sans Pro', sans-serif;
margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6
{
font-family:'Fjalla One', sans-serif;
font-weight: normal;
}
.hero
{
    height: 450px;
    background-color: #1b2127;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.hero-image
{
object-fit: cover;
margin-bottom: 8px;
}
.portfolio
{
    background: #FAFAFA;
    padding: 20px;
}
.project
{
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 20px;
    background: white;
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.project-course
{
    margin: 10px 0;
}
.project-date
{
    margin: 10px 0;
}
.project-description
{
    font-size: 20px;
}
.project-title
{
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 10px 0;
}
.project-details 
{
    width: 500px;
}
h1{
    font-size:40px; 
    line-height: 1.5;
    letter-spacing: -.2px; 
    color: white;
    margin: 0px;
}
h1 strong
{
    color: #026FFF;
}

h2{
    color:#026FFF;
    text-transform: uppercase;
    font-family:'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 40px;
}
.header
{
    background-color: #1b2127;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.header ol
{
    display: flex;
}
ol,
ul
{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
figure
{
    margin: 0px;
}
.header a
{
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0 20px;
}
.footer {
    background-color: #1b2127;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.event-list {
    display:flex;
    flex-wrap: wrap;
    
}
.event-list-title{
    margin-left: 20px;
}
.event {
    margin: 1%;
    width: 48%;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
    background: #f4fbff;

}
.event img {
width: 480px;
height: 200px;
object-fit: cover;
}
.event-details {
margin: 20px 40px;
margin-top: -40px;
background-color: white;
position: relative;
padding: 20px;
text-align: center;
}
.contact
{
    background-color: #056fff;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-wrap: wrap;
}
.social-link
{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0px 15px;
    background-size: 50px 50px;
}
.social-link.facebook
{
    background-image: url('PngItem_5114824.png');
    

}

.social-link.instagram
{
    background-image: url('instagram.svg');

}
.form-email input
{
border-color: gray;
padding: 10px  20px 10px 25px;
border-style: solid;
border-radius: 5px;
background-image: url('envelope.svg');
background-size: 15px 15px;
background-repeat: no-repeat;
background-position-y: center;
background-position-x: 5px;
}
.form-email button
{
    display: block;
    margin-top: 10px;
    padding: 10px 0;
    background: transparent;
    color: white;
    border-radius: 5px;
    width: 100px;
    margin-top: 10px;
}
.form-email h3
{
    font-family:'Source Sans Pro', sans-serif;
}
.container
{
    max-width: 1000px;
    flex: 1;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}
.burger-button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .8);
    display: none;
    line-height: 40px;
    text-align: center;
    position: fixed;
    z-index: 4;
    left: 5px;
    top: 5px;
    color: white;

}
@media screen and (max-width: 1024px){
    
    .container{
        padding: o 1em;
    }
    .hero{
        height: auto;
        position: relative;
        overflow: hidden;
        padding: 2em;
    }
    .hero-image{
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
    }
    h1 {
        font-size: 2em;
        z-index: 2;
}
}

@media screen and (max-width: 767px){

    .burger-button{
        display: block;
    }

    .header{
        display: block;
        height: auto;
    }
    .header ol{
        display: initial;
    }
    .header ol li{
        height: 50px;
    }
    .header a{
        justify-content: center;
        height: 40px;
        font-size: 2em;
        text-decoration: underline;
        margin-bottom: .5em;
    }     
    .menu{
        position: fixed;
        background: rgba(5, 111, 255, .9);
        z-index: 3;
        top: 0;
        left: -100vw;
        width: 100vw;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;    
    }
    .menu.is-active{
        left: 0;
    }
    .event{
        width: auto;
        flex-shrink: initial;
    }
    .event img{
        
        width: 100%;

    }  
}
@media screen and (max-width: 480px){

    h1{
        font-size: 1.5em;
    }
    .event-details{
        margin:-2em .5em .5em;
        padding: 1em;
    } 
    .contact{
        height: auto;
        padding: 1.5em 0;
        text-align: center;
        display: block;
    }
    .form-email button{
        margin: 1em auto;
    }
    .footer{
        display: block;
        text-align: center;
        border: 1px solid transparent;
    }
}
@media screen and (max-width: 320px){
    body{
        border: 10px solid green;
    }
    h1{
        font-size: 1em;
    }
    .hero{
        padding: 2em 1em;
    }
}
